.scenarioDropList {
    &.MuiInput-underline:before {
        border-bottom: none !important;
    }

    &.MuiInput-underline:after {
        border-bottom: none !important;
    }

    .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
        background-color: transparent;
    }
}
