@import "../../../../../styling/variables";

.scenarioDropList {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}


.listItemHeader {
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label.progress {
    margin: 8px;
    text-transform: capitalize;
}

label.baseline {
    border: 1px solid $eli-utility-dark;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
