@import "styling/_variables";

$treePrefixCls: 'rc-tree';
$treeNodePrefixCls: '#{$treePrefixCls}-treenode';

.#{$treePrefixCls} {
  margin: 0;
  border: 1px solid transparent;

  &-focused:not(&-active-focused) {
    border-color: $eli-podium-blue;
  }

  .#{$treeNodePrefixCls} {
    margin: 0;
    padding: 0;
    line-height: 24px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    overflow: hidden;
    .draggable {
      color: #333;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    
    &.drop-container {
      > .draggable::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 2px $eli-podium-blue;
        border-radius: 4px;
        content: "";
      }
      & ~ .#{$treeNodePrefixCls} {
        border: none;
      }
    }
    &.drop-target {
      // background-color: yellowgreen;
      & ~ .#{$treeNodePrefixCls} {
        border-left: none;
      }
    }
    &.filter-node {
      > .#{$treePrefixCls}-node-content-wrapper {
        color: #a60000 !important;
        font-weight: bold !important;
      }
    }
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
    .#{$treePrefixCls}-node-content-wrapper {
      position: relative;
      display: inline-block;
      height: auto;
      margin: 2px 0;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: $eli-podium-blue-hover;
      }
    }
    span {
      &.#{$treePrefixCls}-switcher,
      &.#{$treePrefixCls}-checkbox,
      &.#{$treePrefixCls}-iconEle {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        line-height: 16px;
        vertical-align: -.125em;
        cursor: pointer;

        &.#{$treePrefixCls}-icon__customize {
          background-image: none;
        }
      }
      &.#{$treePrefixCls}-icon_loading {
        margin-right: 2px;
        vertical-align: top;
        background: url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7')
          no-repeat scroll 0 0 transparent;
      }
      &.#{$treePrefixCls}-switcher {
        &.#{$treePrefixCls}-switcher-noop {
          cursor: auto;
        }
      }
      &.#{$treePrefixCls}-checkbox {
        width: 13px;
        height: 13px;
        margin: 0 3px;
        background-position: 0 0;
        &-checked {
          background-position: -14px 0;
        }
        &-indeterminate {
          background-position: -14px -28px;
        }
        &-disabled {
          background-position: 0 -56px;
        }
        &.#{$treePrefixCls}-checkbox-checked.#{$treePrefixCls}-checkbox-disabled {
          background-position: -14px -56px;
        }
        &.#{$treePrefixCls}-checkbox-indeterminate.#{$treePrefixCls}-checkbox-disabled {
          position: relative;
          background: #ccc;
          border-radius: 3px;
          &::after {
            position: absolute;
            top: 5px;
            left: 3px;
            width: 5px;
            height: 0;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            content: ' ';
          }
        }
      }
    }
  }
  &:not(.#{$treePrefixCls}-show-line) {
    .#{$treeNodePrefixCls} {
      .#{$treePrefixCls}-switcher-noop {
        background: none;
        visibility: hidden;
      }
    }
  }
  &.#{$treePrefixCls}-show-line {
    .#{$treeNodePrefixCls}:not(:last-child) {
      > ul {
        background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7')
          0 0 repeat-y;
      }
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -18px;
      }
    }
    .#{$treeNodePrefixCls}:last-child {
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -36px;
      }
    }
  }
  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  &-treenode-disabled {
    > span:not(.#{$treePrefixCls}-switcher),
    > a,
    > a span {
      color: #767676;
      cursor: not-allowed;
    }
  }
  &-treenode-active {
    background: rgba(0, 0, 0, 0.1);
  }
  &-node-selected {
    background-color: $eli-semi-light-blue;
    box-shadow: 0 0 0 1px $eli-podium-blue;
    opacity: 0.8;
  }
  &-icon__open {
    margin-right: 2px;
    vertical-align: top;
  }
  &-icon__close {
    margin-right: 2px;
    vertical-align: top;
  }
  &-icon__docu {
    margin-right: 2px;
    vertical-align: top;
  }
  &-icon__customize {
    margin-right: 2px;
    vertical-align: top;
  }
  &-title {
    display: inline-block;
  }
  &-indent {
    display: inline-block;
    vertical-align: bottom;
    height: 0;
  }
  &-indent-unit {
    width: 16px;
    display: inline-block;
  }
}
  
.#{$treePrefixCls}-child-tree {
  display: block;
}
  
.node-motion {
  transition: all .3s;
  overflow-y: hidden;
}

.icon-wrapper{
  width:12px;
  height: 12px;
  transition: transform .3s;
  &.rotate{
    transform: rotate(90deg);
  }
}

.drop-indicator{
  background-color:$eli-podium-blue;
  height: 2px;
  &.indentation{
    margin-left: 16px;
  }
}