@import "./styling/variables";

.AppWrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;

  header {
    background: $eli-black;
    .topbar {
      height: 70px;
      display: flex;
    }
  }

  .contentWrapper {
    display: flex;
    flex: auto;
    overflow: auto;

    aside {
      width: 96px;
      min-width: 96px;
      box-shadow: 0 0 4px silver;
      z-index: 100;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
    }

    main.content {
      flex: 1 auto auto;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
      background: $eli-utility-light;
    }
  }

  div[class^="makeStyles-root-1"] {
    z-index: 1005; //This is used for snackbar. Must be the biggest one, i.e. bigger than modal
  }

  .snackbarSuccess {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
  }

  .snackbarError {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    border-color: #f5c6cb !important;
  }

  .snackbarInfo {
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
  }

  .snackbarWarning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
  }
}
