@import "../../../../../../styling/mixins";

.card {
    @include mapCard();

    min-width: 235px;
    position: relative;

    @include mapCardHeading();

    .textFiled {
        margin-top: 12px;
    }

    @include mapCardBtnWrapper();
}
