@import "../../../styling/variables";

.statBar {
  margin-left: auto;

  .userBox {
    margin-left: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    .user {
      height: 40px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
