@import "../../../variables";

@mixin centerX {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin centerY {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

$positionCalc: calc(100% + 8px);

.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;

    .message {
        display:none;
        min-width: 132px;
        background: $eli-navy;
        padding: 12px;
        position: absolute;
        color: $white;
        border-radius: 4px;
        z-index: 9999;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
    }

    .message::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 5px;
    }

    &:hover {
        .message {
            display: block;
        }

        .message.top {
            bottom: $positionCalc;
            @include centerX;

            &::after {
                @include centerX;
                top: 100%;                
                border-color: $eli-navy transparent transparent transparent;
            }
        }

        .message.bottom {
            top: $positionCalc;
            @include centerX;

            &::after {
                bottom: 100%;
                @include centerX;
                border-color: transparent transparent $eli-navy transparent;
            }
        }

        .message.left {
            right: $positionCalc;
            @include centerY;

            &::after {
                left: 100%;
                @include centerY;
                border-color: transparent transparent transparent $eli-navy;
            }
        }

        .message.right {
            left: $positionCalc;
            @include centerY;

            &::after {
                right: 100%;
                @include centerY;
                border-color: transparent $eli-navy transparent transparent;
            }
        }
    }
}
