@import "../../../../styling/variables";

.massingSelectionWrapper {    
    .list{
        overflow-y: scroll;
        align-self: stretch;
        padding: 1px;

        .listItem {
            display: flex;
            justify-content: space-between;
            background: white;
            gap: 24px;
            padding: 20px 16px;
            margin: 0 0 24px;
            border-radius: 8px;
            align-items: center;

            p {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 0;
            }

            &:hover {
                box-shadow: 0px 0px 0 1px $eli-podium-blue;

                .radio {
                    span:first-child > span:first-child {
                        // Important because it needs to override MUI CSS
                        background: $eli-podium-blue-hover !important;
                    }
                }
            }
        }
    }
    .cta {
        margin-top: auto;
        text-align: center;
    }
}

.cta {
    margin-top: 30px;
    text-align: center;

    .nextBtnLabel{
        margin-right: 4px;
    }
}

.icon {
    margin-bottom: 5px;
    margin: 10px;
}

.IconDescription{
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: left;
}

.disabled {
    color: #72818D;    
 }