@import "styling/_variables";

.infoTip {
    font-size: 20px;
    position: relative;
    margin-right: -20px;
    margin-left: -8px;
    fill: #21b8c78f;

    &:hover {
        fill: $eli-podium-blue;
    }
}