.massingEditorWrapper {
    width: 24%;
    max-width: 480px;
    min-width: 388px;
    max-height: calc(100% - 48px);
    overflow-y: scroll;
    position: absolute;
    left: 24px;
    top: 24px;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0;
    }

}