@import "styling/_variables";
/* Sidebar Faders */

.top {
    position: relative;
    margin-bottom: -50px;
    display: block;
    width: 100%;
    height: 25px;
    top: -17px;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(218, 218, 218, 0), rgba(230, 235, 240, 1) 100%);
    pointer-events: none;
}

.bottom {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    margin-top: -200px;
    background-image: linear-gradient(to bottom, rgba(230, 235, 240, 0), rgba(230, 235, 240, 0.9) 100%);
    pointer-events: none;
}