@import "../../../../styling/_variables";

.feasibilityWrapper {
	height: 100%;
	max-height: 100%;
	display: flex;

	.leftPanel {
		max-height: 100%;
	}

	.mainPanel {
		flex: auto;
		max-height: 100%;
		position: relative;
	}
}
