@import "../../../../styling/variables";
  
.scenarioDetails {
    padding: 0px 24px 0;

    .detailsWrapper {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        
        h6 {
            font-size: 12px;
            line-height: 14px;
            color: #72818d;
            font-weight: 400;
            margin: 0px 0 8px;
        }

        h3 {
            margin: 8px 0 0;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
    }
}
