
$eli-black: #1C252C;
$eli-podium-blue: #21B8C7;
$eli-podium-dark-teal: #19838c;
$eli-pastel-blue: #def6fc;
$eli-podium-blue-hover: #d3f0f3;
$eli-navy: #120b31;
$eli-header-color: #120b31;
$eli-font-color: #222222;
$white: #fff;
$black: #000;
$eli-light-blue: #e6ebf0;
$eli-semi-light-blue: #ace4eb;
$eli-semi-light-red: #dfb1b5;
$eli-podium-yellow: #fce809;
$eli-utility-hover: #8B9DAC;
$eli-utility-darkest: #2c343b;
$eli-utility-dark: #c0cdd9;
$eli-utility-light: #e6ebf0;
$eli-overlay-color: rgba(21, 26, 41, 0.8);

$eli-tag-color: #ace18e;
$eli-tag-color2: #f7e095;
$eli-tag-color3: #e8a29c;

$eli-tag-color-solved: #ace18e;
$eli-tag-color-rejected: #e07a71;
$eli-tag-color-draft: #f7e095;
$eli-tag-color-nostatus: #c0cdd9;

$eli-parcel-layer-color: #EFAA7A;
$eli-selected-parcel-fill-color: #A4D8A9;
$eli-selected-parcel-line-color: #74A779;

$font-family: "CircularStd-Book", Arial, Verdana, Tahoma, sans-serif;
$header-font-family: "CircularStd-Medium", Arial, Verdana, Tahoma, sans-serif;

$eli-font-size-small: 12px;
$eli-font-size: 14px;
$eli-h1-size: 24px;
$eli-h2-size: 18px;
$eli-h3-size: 16px;
$eli-header-line-height: 20px;
$eli-font-size-tag: 10px;

$eli-dash-fontsize-xLarge: 36px;
$eli-dash-fontsize-large: 24px;
$eli-dash-fontsize-label: 16px;

$font-weight-medium: 500;

$box-border-radius: 4px;

$padding: 24px;
$medium-padding: 16px;
$half-padding: 12px;
$low-padding: 8px;

$margin: 24px;
$half-margin: 12px;
