@import "./_variables";

:export {
    White: $white;
    Red: #FF0000;
    Lime: #00FF00;
    MediumGrey: #666666;
    DarkYellow: #EFB919;
    PodiumDarkTeal: $eli-podium-dark-teal;
    PodiumBlue: $eli-podium-blue;
    PodiumMedium: $eli-semi-light-blue;
    PodiumPastelBlue: $eli-pastel-blue;

    ST: #6FCBD1;
    B1: #1D7F88;
    B1Jr: #37A5AC;
    B1LR: #9FA8DA;
    B1LL: #9FA8DA;
    B1HL: #9FA8DA;
    B1HR: #9FA8DA;
    B2: #02545C;
    B2CR: #A6D6A7;
    B2CL: #A6D6A7;
    B3: #04252A;
    B3LCL: #FFF69D;
    B3LCR: #FFF69D;
    G_Jr1Br: #37A5AC;
    G_1Br: #1D7F88;
    G_3Br: #04252A;
    G_ST: #6FCBD1;
    G_MicroST: #97D9E0;
    G_2Br: #02545C;
    StMicro: #97D9E0;
    StructureWireframe: #5A5B5C;
    Other: #808E95;
    Podium: #344444;
    Parking: #586264;
    ParkingSpaces: #FFFFFF;
    PodiumSelected: #90A3A3;
    OtherBuildingPodium: #454545;
    Selected: #BFD3D8;
    Lines: #6E6E70;
    LinesDark: #585858;
    FacadePanelizer: #747D85;
    FacadeGenerator: #a3a3a3;
    FacadeInstantiator: #747D85;
    FacadeMegaPanel: #747D85;
    FacadeWindow: #67ffff;
    FacadeAddon: #FFFFFF;
    Zone: #79A379;
    SurroundingBuildings: #dae2e9;
    SurroundingBuildingsTop: #AFC0CF;
    ViewingApartment: #8CB0B9;
    Hovered: #ADD8E6;
    Envelope: #FFFFFF;
    Extrusion: #21B8C7;
    SecondaryExtrusion: #13646b;
    OtherBuildingExtrusion: #468085;
    Walls: #5A5B5C;
    Circulation: #ADD8E6;
    VerticalTransport: #D0D395;
    CornerLeftUnit: #F49907;
    CornerRightUnit: #A55069;
    StairCore: #4B102D;
    InLineUnit: #f2e03a;
    Unallocated: #5A5B5C;
    ExternalCornerUnit: #69A550;
    InternalCornerUnit: #420A55;
    Corridor: #5b87bd;
    Amenities: #86d1eb;
    OpenSpace: #89ab65;
    PodiumLight: #d9f5f8;
}