@import "./_variables";

:export {
    White: $white;
    EliPodiumDarkTeal: $eli-podium-dark-teal;
    EliUtilityDark: $eli-utility-dark;
    EliSemiLightBlue: $eli-semi-light-blue;
    ProjectLayerColor: $eli-podium-dark-teal;
    ParcelLayerColor: $eli-parcel-layer-color;
    SelectedParcelFillColor: $eli-selected-parcel-fill-color;
    SelectedParcelLineColor: $eli-selected-parcel-line-color;
}